<style>

h1 {
    font-family:'Verdana';
    
}

.bio {
    font-size: large;
    
}

.education {
    font-size: large;
    
}

.exp {
    font-size: large;
    
}

.goals {
    font-size: large;
    
}

</style>
