<style>


.navigation {
    font-size: 2050px; 
    font-family: cambria;
    color: red  
}

h1 {
    text-align: center;
    font-family: verdana;
}
.bio {
    font-size: large;
    background-color:rgb(8, 187, 187)
    
    
}

.education {
    font-size: large;
    display:inline-block;
    border: 5px;
    border-style: groove;
    margin: 5px auto 10px auto;
    text-align: center;
}

.exp {
    font-size: large;
    display:inline-block;
    border: 5px;
    border-style: groove;
    margin: 5px auto 10px auto;
    text-align: center;
}

.goals {
    font-size: large;
    background-color:rgb(8, 187, 187)

}

.top10 {
    text-align:center;
    width:fit-content;
    margin: 5px auto 10px auto;
}

</style>
